header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #4caf50;
    color: white;
    padding: 1.5rem;
}

.headerLi{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 24px;
    margin-right: 3rem;
}

